/* Cyberpunk Theme */

body {
    font-family: 'Arial', sans-serif;
    background-color: #0e0e0e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

a {
    color: #00ff99;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff007f;
}

table {
    width: 100%;
    margin: 20px 0;
}

td {
    padding: 10px;
}

.header, .footer {
    background-color: #111;
    color: #ff0066;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.header b {
    font-size: 24px;
}

h1, h2, h3 {
    color: #ff00ff;
    text-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(255, 0, 255, 0.7);
}

h1 {
    font-size: 3em;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

table img {
    width: 80%;
    max-width: 250px;
    border: 5px solid #ff00ff;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.7);
}

footer {
    font-size: 16px;
    background: #111;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #ff007f;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    table {
        width: 90%;
    }

    td {
        padding: 15px;
    }
}
