body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    padding: 10px;
    margin: 0;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

b {
    font-size: 24px;
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

a:hover {
    color: #0056b3;
}

h1, h2, h3 {
    color: #333;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.content img {
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
}

.content p {
    color: #555;
    font-size: 14px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto; 
}

@media (max-width: 768px) {
    .content-container {
        display: block;
    }

    .content-container td {
        width: 100%;
        margin-bottom: 20px;
    }
}
